/* Add CSS Styling */
.odd{
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#second_element{
    font-size: 36px;
    color: blue;
}
#fourth_element{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}