/* Add CSS Styling */
button{
    font-size: 28px;
    font-family: helvetica, 'Times New Roman', serif;

}

.first_element{
    background-color: black;
    color: white;
}
.second_element{
    background-color: yellow;
}