@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: #eee;
  font-family: roboto;
  
  
}


.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
  
}

.title {
  background: #e3f4ff;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 16px 8px;
  
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
  
  
}

button {
  background: white;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
  border: solid white;
  
}